.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #9370DB;
  color: #E5BD3C;
  padding: 1% 0;
  font-size: 1.2em;
  border: 0;
}

.navbar .navbar-header .navbar-brand {
  float: left;
  min-height: 30px;
  color: #EBC614;
  padding: 15px 90px 0px;
  font-size: 3em;
}

.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover {
  color: #E5BD3C;
  background-color: #5e4485;
}

.navbar-inverse .navbar-nav li a {
  color: #d5d5d5;
}

.container {
  margin: 1.5% auto;
}

.container3 {
  margin: 3% auto;
}

#picture {
  max-width: 300px;
  margin: 1% auto;
}

h2 {
  color: #9370DB;
  font-size: 40px;
  margin-top: 3%;
  margin-bottom: 3%;
}

.col-sm-4 h4 {
  color: #9370DB;
}

.mid-section .col-md-6 {
  margin-left: 1%;
}

.btn {
  margin-bottom: 1.3%;
  background-color: #9370DB;
  border: 0;
  color: white;
  padding: 1%;
}
